body {
  background-color: #8ef0b79a;
  text-align: center;
}

body h2 {
  font-size: 26px;
}

.userLogout button {
  background-color: red;
  margin-bottom: 25px;
}

.goods {
  background-color: #00c853;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  margin-inline: 15px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 3px solid black;
}

.goods label {
  font-size: 24px;
  margin-top: 5px;
}

.goods input {
  background-color: white;
  height: 30px;
  border-radius: 5px;
  margin-left: 15px;
}

.goods button {
  background-color: darkgreen;
}

.goods button,
.payment button,
.userLogout button {
  height: 35px;
  border-radius: 10px;
  border: 2px solid black;
  color: white;
  width: 15rem;
  font-size: 18px;
}

.payment {
  background-color: rgb(199, 99, 85);
  display: grid;
  grid-template-columns: 23% 52% 23.5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  margin-inline: 15px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 3px solid black;
}

.payment label {
  font-size: 24px;
  margin-top: 5px;
}

.payment input {
  background-color: white;
  height: 30px;
  border-radius: 5px;
  margin-left: 15px;
}

.payment button {
  background-color: rgb(255, 0, 0);
}

.user-transactions {
  margin-inline: 15px;
  font-size: 24px;
}

.day-separation {
  border-radius: 15px;
  border: 3px solid black;
  margin-block: 10px;
}

.user-transactions header,
.user-transactions footer {
  background-color: #757575;
  height: 45px;
  color: white;
}

.user-transactions header p,
.user-transactions footer p {
  padding-top: 5px;
  margin-top: 0;
}

.user-transactions header {
  margin-bottom: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user-transactions footer {
  margin-top: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.goodsTransaction {
  background-color: #00c853;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-inline: 3px;
  border: 2px solid black;
  font-weight: 550;
  margin-bottom: 5px;
}

.paymentTransaction {
  background-color: rgb(199, 99, 85);
  display: grid;
  grid-template-columns: 45% 10% 45%;
  margin-inline: 3px;
  border: 2px solid black;
  font-weight: 550;
  margin-bottom: 5px;
}
