.admin-login {
  background-color: rgb(18, 168, 33);
  text-align: center;
  width: 500px;
  border-radius: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.admin-login {
  text-align: center;
}

.admin-login h2 {
  margin-block: 20px;
}

.admin-login button {
  margin-top: 15px;
  background-color: rgb(84, 187, 84);
  border: 1px solid green;
  padding-block: 5px;
  width: 175px;
  height: 35px;
  font-size: 19px;
  border-radius: 10px;
}

.user-login {
  text-align: center;
  padding-block: 25px;
  padding-inline: 15px;
}

.user-login a {
  color: rgb(188, 241, 188);
}

.error {
  background-color: rgb(255, 58, 137);
  border: 2px solid red;
  color: white;
  text-align: center;
  margin-inline: 20%;
}
